@{
    ViewData["Title"] = "Home Page";
}

<style>
	body {
		background-color: #162535;
		color: white;
	}
	p{
		margin-top:5px;
		color:orange;
	}
</style>

<div class="text-center mt-5">
   
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Welcome to Student Management System </h1>

    <p style="font-weight:bolder;">
		This is a simple student management system built using ASP.NET Core MVC. You can manage students,orderd by Enrollment Date and grade
		and easy to search by Name and can Export data to Excel or PDF .
    </p>

</div>
