@model Studentmanage.Entities.Models.Student


<div class="card w-50 mx-auto bg-dark text-light">
    <div class="card-header mx-auto">
        <h3 class="card-title"> Edit Student </h3>
    </div>
    <hr />
    <div class="card-body fw-bold ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2 d-flex gap-2 justify-content-end">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-primary">Back</a>
            </div>
        </form>
    </div>
   
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
